body {
  font-family: Arial;
  background-color: #2c2e33;
  color: rgb(143, 143, 143);
}
/*- Header --------------------------------------------------------------------------------*/

h1{
font-size: 120px;
  color: rgb(255, 255, 255);
}

/*---------------------------------------------------------------------------------*/
li, a, button { 
  font-family: arial;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

li{ 
  list-style-type: none;
}

/*- Plan your visit button --------------------------------------------------------------------------------*/

button {
  font-size: 20px;
  color: white;
  background-color:#3b913b;
  border: 0px solid ;
  border-radius: 18px;
  padding: 17px 20px;
}
button:link, button:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover, button:active {
  cursor: pointer;
  color: #3b913b;
  background-color:white;
}

/*- Navigation bar --------------------------------------------------------------------------------*/

.NavigationBar :hover, .NavigationBar:active {
  color: #E6C229;
  z-index: 1;
}

.NavigationBar {
  overflow: hidden;
  position: fixed;
  top: 2%;
  right: 1%;
  z-index: 1;
}

.NavigationBar, .NavigationBar li{
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  z-index: 1;
}

.NavBarBox {
  position: fixed;
  top: 2.8%;
  right: 2%;
  width: 748px;
  height: 37px;
  border-radius: 10px;
  background-color: rgb(143, 143, 143);
  z-index: 1;
}

/*---------------------------------------------------------------------------------*/

* {
box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*- Image interaction --------------------------------------------------------------------------------*/

img {
  max-width: auto;
  max-height: auto;
  opacity: 0.1;
  transition: 1.5s;
}
 img:hover{
  opacity: 0.7;
}

/*- Food and drinks header --------------------------------------------------------------------------------*/

.FoodandDrinks {
  z-index: -1;
  position: relative;
  top: 110px;
  left:5%;
}

/*- Food and drinks header caption --------------------------------------------------------------------------------*/

.FDcaption {
  position: relative;
  top: 110px;
  left:5%;
  font-size: 25px;
  width: 1000px;
}

/*- Food and drinks iamge columns --------------------------------------------------------------------------------*/

.FoodAndDrinksTable {
  position: absolute;
  cursor: pointer;
  top: 290px;
}

.columnSize, img{
  width: 440px;
  height: 950px;
  object-fit: cover;
  z-index: -1;
  border-radius: 220px 220px  50px 50px ;
}

.column {
  display: inline-block;
  width: 20%;
  padding: 30px;
  bottom: 0;
}

.row {
  display: table;
  padding: 10px;
}

/*- Food and drinks header --------------------------------------------------------------------------------*/

h2 {
  cursor: pointer;
  color: white;
  font-weight: normal;
  font-size: 60px;
  position: absolute;
  top: 300px;
  padding: 60px;

}

/*- Background elements --------------------------------------------------------------------------------*/

.sun {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #e6c229;
  border-radius: 0 0 0 100%;
  top: 0;
  right: 0;
  z-index: -3;
}

